HELLO WORLD

In [ ]:
print("hellow world ")

**date and time **

In [ ]:
import datetime
now = datetime.datetime.now()
print("Current date and time : ")
print(now.strftime("%d-%m-%y %H:%M:%S"))

**The calender .**

In [ ]:
import calendar
print(" month number is like january as 1 and february as 2 ")
a=int(input("the year you needed to go >  "))
b=int(input("the number of month needed to go >  "))
print(calendar.month(a , b))

In [ ]:
import calendar
print(calendar.weekheader(1))
print(calendar.weekheader(2))
print(calendar.weekheader(3))
print(calendar.weekheader(4))
print(calendar.weekheader(5))
print(calendar.weekheader(6))

In [ ]:
import calendar
print(calendar)

# Check the Python **Version**

In [ ]:
 import sys
print(sys.version)

codes

In [ ]:
print("adithya \n s nair ")

print("adithya \t s nair ")

print("adithya \\ s nair ")

CALCULATOR = usage of command ( float . int , bool )

In [ ]:
a = float(input('what is your first number ? '))
b = float(input('what is your second number ? '))
c = a+b 
print("your answer is " + str(c))

*OR*

In [ ]:
a = float(input('what is your first number ? '))
b = float(input('what is your second number ? '))
c = a+b 
print(f"your answer is {c}")

FIND A NUMBER

In [ ]:
course = "python course for biginners"
course.find("p")

TO MAKE LOWER CASE

In [ ]:
course = " python course for biginners "
course.lower()

TO MAKE UPPER CASE

In [ ]:
course = " python course for biginners "
course.upper()

TO REPLACE LETTER WITH OTHER LETTER.

In [ ]:
course = " python course for biginners "
course.replace("n" ,"d")
course.replace("g" ,"a")
course.replace("t" ,"m")

TO FIND IF A WORD IS IN A SENTENCE.

In [ ]:
course = " python course for biginners "
print("python" in course)
print("integer" in course)

**ARITHEMATIC PROBLEMS **

ceiling ppty

In [ ]:
import math
math.ceil(2.9)

floor ppty

In [ ]:
import math
math.floor(2.9)

copy sighn ppty = Return a float with the magnitude (absolute value) of x but the sign of y. On platforms that support signed zeros,

In [ ]:
import math
math.copysign(2,-2)

fabs ppty = Return the absolute value of x.

In [ ]:
import math
math.fabs(-3.4)

factorial function = Return x factorial as an integer. Raises ValueError if x is not integral or is negative.

In [ ]:
import math 
math.factorial(5)

**f mod** = Return fmod(x, y), as defined by the platform C library. Note that the Python expression x % y may not return the same result. The intent of the C standard is that fmod(x, y) be exactly (mathematically; to infinite precision) equal to x - n*y for some integer n such that the result has the same sign as x and magnitude less than abs(y). Python’s x % y returns a result with the sign of y instead, and may not be exactly computable for float arguments. For example, fmod(-1e-100, 1e100) is -1e-100, but the result of Python’s -1e-100 % 1e100 is 1e100-1e-100, which cannot be represented exactly as a float, and rounds to the surprising 1e100. For this reason, function fmod() is generally preferred when working with floats, while Python’s x % y is preferred when working with integers.

In [ ]:
import math
math.fmod(2,3)

1) add

In [ ]:
print(10+3)

2) subtract

In [ ]:
print(10-3)

3) multiply

In [ ]:
print(12*2)

4 )divide with decimal

In [ ]:
print(10/3)

5)divide without decimal

In [ ]:
print(10//3)

6) devide and print the reminder

In [ ]:
print(10%3)

7) to make power

In [ ]:
print(10**3)

8 ) This is called augmented assignment operation, in which the first symbol is what is operation and the second symbol is the = so to get the same result as the x=x+3, and so many other operation is useful.

In [ ]:
x=10
x *= 3
print(x)

30

9 ) rounding off

In [ ]:
x=3.5
print(round(x))

4

10 )** absolute value** - print positive value if the given value is negative .

In [ ]:
print(abs(-3))

import math

In [ ]:
import math

Operator Precedence = used by bodmas

In [ ]:
x=10+3*4
print(x)

**complex number** = A complex number has a real and imaginary part for example 7+8j, 8+11j etc.

In [ ]:
x = 3 + 4j 
y = 9 + 8j 
print(y-x)

**isinstance() function** = 
                                                                                  The isinstance() functions checks whether a number belongs to a particular class and returns true or false based on the result.
For example:
isinstance(num, int) will return true if the number num is an integer number.
isinstance(num, int) will return false if the number num is not an integer number.

In [ ]:
a = 10 +4j 
print(isinstance(a, int))
print(isinstance(a, float))
print(isinstance(a, complex))

Comparison Operators = Used for comparing 2 values with the < , > , = , >=(greater equal) , == (equlity) , <=(lesser equal) , != (not equality) and get result TRUE AND FALSE ..

In [ ]:
x=3>2
print(x)

Logical operator = Usage of " and , or " functions to compare two of the values or 2 statement

OR OPERATOR = 
to find if the price is less than 30 or greater than 10 , if any one of the statement is true it prints true

In [ ]:
price=25
print(price > 10 or price < 30 )

AND OPERATOR = 
to find if the price is less than 30 and greater than 10 , if two of the statement is true , then it prints true.AND OPER\ATOR

In [ ]:
price=25
print(price > 10 and price < 30 )

NOT OPERATOR = 
this functions makes the system to think in a way that if the condition shown in the line is true then it will show false , as invert function of the original result is used .

In [ ]:
price=25
print(not price > 10 )

IF FUNCTIONS

In [ ]:
T=float(input("how is the temperature there ? "))
if T < 0 or T == 0:
   print("you will die cold ")
if  T > 0 and T <= 20 :
   print("wow , lil bit cold ")
if T > 20 and T <= 30 :
  print("wow , nice weather ")
if T > 30 and T <= 40 :
  print("Drink some cold water ..LOL")
if T > 40 :
  print(" You will die")

EXERCISE = convertig the weight to lbs and kg ..

In [ ]:
weight= int(input("whats your weight ? "))
unit= input(" (k)g or (L)bs")
if unit.upper() == "K" :
    converted = weight * 1
    print("your weight in kg is " + str(converted))
if unit.upper() == "L": 
   a = weight /0.45
   print("your weight in pound  is " + str(a))

**RE FUNCTION**

**WHILE** **LOOPS** => i = initial number , While condition indices the effect of loop . in which the second number used is the termila number and needed to print that number , while it gives the equation i=i+1 , so the equation terminates when the value of i is equal to the terminal value used

In [ ]:
i = 1
while i <=10 :
      print(i)
      i=i+1

making star stairs using while loop ..we can multiply any thing to that number sequence or pattern that we can get in operating the normal code to our necessory codes .

In [ ]:
i = 1
while i <=10 :
      print(i * "*" )
      i=i+1

***LISTS*** = used in sq.brackets , can be used to print the things from the list that we have given to the system and we can use the numbers in the sq.bracket , to find the names in order .

In [ ]:
names =["ADI", "KANNAN" , 'UNNI' , 'PARU', "SREE"]
print(names)

In [ ]:
names =["ADI", "KANNAN" , 'UNNI' , 'PARU', "SREE"]
print(names[0])

In [ ]:
names =["ADI", "KANNAN" , 'UNNI' , 'PARU', "SREE"]
print(names[-1])

In [ ]:
names =["ADI", "KANNAN" , 'UNNI' , 'PARU', "SREE"]
print(names[3])

replaing one name with another using the number .

In [ ]:
names =["ADI", "KANNAN" , 'UNNI' , 'PARU', "SREE"]
names[0]= "ADDI"
print(names)

to select a range of names from number 0-2 , but in code we need to write the number as 0- 3 so that the 3 is excluded and only show the number from 1-2 .

In [ ]:
names =["ADI", "KANNAN" , 'UNNI' , 'PARU', "SREE"]
names[0]= "ADDI"
print(names[0:3])

**2D LISTS**

In [ ]:
#TO MAKE A 2D LIST 
matrix=[
        [1,2,3],
        [4,5,6],
        [7,8,9]
]

#to access a list of line .
print(matrix[0])
#to print a number from a list.
print(matrix[0][2])
#print row of lines .
for raw in matrix:
  for a in raw:
   print(a)

**LIST** **METHODS**

append list , using the code uppend()  , we can insert a new value in our list at the end .

In [ ]:
numbers=[1,2,3,4,5,]
numbers.append(6)
print(numbers)

INSERT METHOD ,using the code insert() , we can insert a new value in our list at the middle or the start . in bracket the first number should be the place where to insert the number and the second one the number that is needed to be inserted t that point .

In [ ]:
numbers=[1,2,3,4,5,]
numbers.insert(3,6)
print(numbers)

In [ ]:
numbers=[1,2,3,4,5,]
numbers.remove(3)
print(numbers)

In [ ]:
numbers=[1,2,3,4,5,]
numbers.clear()
print(numbers)

to delete last number

In [ ]:
numbers=[1,2,3,4,5,]
numbers.pop()
print(numbers)

to make in a ascending order..

In [ ]:
numbers=[3,4,2,1,5,6,9]
numbers.sort()
print(numbers)

to make it in descending order.

In [ ]:
numbers=[1,2,3,4,5,]
numbers.reverse()
print(numbers)

copy our list

In [ ]:
numbers=[1,2,3,4,5,]
a=numbers.copy()
print(a)

to find a number is present there

In [ ]:
numbers=[1,2,3,4,5,]
print(2 in numbers)

In [ ]:
numbers=[1,2,3,4,5,]
print(6 in numbers)

To find the length of the list that we have given.

In [ ]:
numbers=[1,2,3,4,5,]
print(len(numbers))

**FOR** **LOOP**

used to print the list in a vertical order , that = **for** all the **items in** the **number**

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for item in numbers:
         print(item)

same code in while loop

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
i=0
while i < len(numbers):
      i=i+1
      print(i)

**FOR LOOP FOR CO-ORDINATES**

In [ ]:
for x in range(4):
  for y in range(3):
    print(f"({x} , {y})")

**THE** **RANGE** **FUNCTION**  = it will give the range of the function that the number is given - if we gave number 5 the range of the number is (0,5 ), si it will show the numbers from the 0-5.

In [ ]:
numbers=range(5)
for number in numbers :
     print(number)

In [ ]:
numbers=range(-10,5)
for number in numbers :
     print(number)

3rd number in the bracket give the step by which it leaps

In [ ]:
numbers=range(5,10,2)
for number in numbers :
     print(number)

**TUPLES** tuples are un changable list in which no changes can be done .

Adding two tuples .

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

count function

In [ ]:
numbers=(1,2,3,4,5,5,6,)
numbers.count(5)

Index functions

In [ ]:
numbers=(1,2,3,4,5,5,6,10,20,34,45,)
numbers.index(2)

**UNPACKING**

In [ ]:
a=[1,2,3,4,5,6]
x=a[0]
y=a[3]
z=a[5]
b=x*y*z
print(b)

**or**

In [ ]:
a=[2,4,6]
a=x,y,z
b=x*y*z
print(b)
print(z)
print(x)
print(y)

**DICTIONARY**

In [ ]:
customer={
    "name":"ADITHYA S NAIR",
    "age":19,
    "birthday":"26 sept 2002",
    "school":"sreyas public school"
}
print(customer["name"])
print(customer["age"])
print(customer["birthday"])
print(customer["school"])

In [ ]:
# show error 
customer={
    "name":"ADITHYA S NAIR",
    "age":19,
    "birthday":"26 sept 2002",
    "school":"sreyas public school"
}
print(customer["kundali"])

In [ ]:
# show error 
customer={
    "name":"ADITHYA S NAIR",
    "age":19,
    "birthday":"26 sept 2002",
    "school":"sreyas public school"
}
print(customer.get("kundali"))

Exercise for finding even numbers

In [ ]:
count = 0
a=int(input("your starting number ? "))
b=int(input("your ending number ? "))
numbers = range(a , b)
for number in numbers :
 if number % 2 == 0 :
     count += 1 
     print(number)
print(f"you have {count} even numbers !")

exercise #2 = given 2 integers a and b , in which need sum as return and if return is between 15 and 20 then return 20 elsereturn the origial sum

In [ ]:
a=int(input("your first integer ? "))
b=int(input("your 2nd integer ? "))
c = a + b 
if c >= 15 and c <= 20 :
  print(20)
else :
  print(c)

exercise 3 - input an array and print true if the 1st or last letter is 12 or else ,( the first 2 line code is copied from site )

In [ ]:
lst1 = []  
lst1 = [int(item) for item in input("Enter the list items : ").split()]
if (lst1[0]==12) or (lst1[-1]==12):
    print ("true")
else :
   print ("false")

exercise 4 = our age in the given year ..

In [ ]:
a=int(input("when did you born ? "))
b=int(input("year to know the age  ? "))
c= b-a
print("you will be " + str(c) +  " years old ")
if c <= 10 :
  print("you are so young to play with internet")
if c > 10 and c <= 50 :
  print(" you seem to be pretty ok")
if c > 50 and c <= 70:
  print("you are going much older")
if c > 70 and c <=100 :
  print(" oh man you are old ")
if c > 100 :
  print (" you will die tomorrow ")

exercise 5 = km in miles

In [ ]:
a=float(input("distanc in km ? "))
b = a * .62
print ("the distance in miles is "+ str(b)+ " miles ")

exercise 6 = repeat the strings in pyramid ..

In [ ]:
a=int(input ("the number of times the string should multiply ? "))
b=input ("the string needed to repeat ? ")
i = 1
while i <= a :
      print(i * b )
      i=i+1

exercise 7 = cost founding

In [ ]:
a=int(input ("cost of your home ? "))
b=int(input ("insurance percentage needed to be covered  ? "))
c=a*b/100
print(f"the cost needed to be paid as the insurance is {c}")
if b>=80 :
  print ("great choice you are a great personality")
else:
  print("about 80% insurance is recomended ")

exercise 8 = Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
a=float(input("what is the radius you want your circle to be in cm ? "))
c=input("in which unit you want the area to be in (K)m , (M)eter , (F)oot ")
b= 3.14 * a * a
if c.upper() == "K" :
    converted = b / 100000
    print("your area in Km is " + str(converted))
if c.upper() == "M": 
   d = b / 100
   print("your area in Meter  is " + str(d))
if c.upper() == "F" :
   e = b * 0.0328084
   print(f"the area of your circle is {e} foot" )

exercise 9 = Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them

In [ ]:
a=input("what is your first name ? " )
b=input("what is your second name ? ")
print(f'your name in reverse order is { b } { a } ')

exercise 10 = Write a Python program to display the first and last colors from the following list = color_list = ["Red","Green","White" ,"Black"]

In [ ]:
a= []  
a= [(item) for item in input("Enter the list items : ").split()]
print(a[0] )
print(a[-1])

exercise 11 = Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [ ]:
n = float(input("what is your integer ? " ))
b = n + n*n + n*n*n
print(f"the sum of n+nn+nnn is { b } ")

exercise 12=  Write a Python program to get the volume of a sphere with radius 6

In [ ]:
n = float(input("what is your radius ? " ))
a = 1.333*3.14*n*n*n
print(f"the volume of your sphere is {a}")

exercise 13 = Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [ ]:
a = float(input("what is your number ? " ))
b = a - 17
if a > 17 :
  c = 2 * b 
  print(f"the double of the absolute difference is { c} ")
else:
  print(f"the difference is { b }")

exercise 14 Write a Python program to test whether a number is within 100 or 1000 or 2000

In [ ]:
a = float(input("what is your number ? " ))
if a <= 100 :
  print("the number is within 100 ")
if a > 100 and a <= 1000 :
  print("the number is within 100 and 1000 ")
if a > 1000 and a <= 2000 :
  print("the number is within 1000 and 2000 ")

exercise 15 = Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum

In [ ]:
a = float(input("what is your 1st number ? " ))
b = float(input("what is your 2nd number ? " ))
c = float(input("what is your 3rd number ? " ))
d = a+b+c
e = 3*d
if a==b==c :
  print(f"all 3 numbers are same so the answer is {e} ")
else :
  print (f"the sum of all 3 numbers is {d}")

exercise 16= Write a Python program to get a string which is n (non-negative integer) copies of a given string.

In [ ]:
a=int(input ("the number of times the string should multiply ? "))
b=input ("the string needed to repeat ? ")
i = 1
while i <= a :
      print(i * b )
      i=i+1

exercise 17 = Write a Python program to test whether a passed letter is a vowel or not.

In [ ]:
b=input("the letter you want to use ? ")
if (b=="a" or b=="A" or b=="e" or b=="E" or b== "i" or b=='I' or b=="o" or b=="eO" or b=="u" or b=="U"):
  print("the  letter you input is a vowel")
else :
  print("the letter that you used is consonent")

exercise 18 = Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user

In [ ]:
a=float(input ("the number of times the string should multiply ? "))
if a%2 == 0 :
  print ("the number you have given is even ")
else:
  print("the number you have given is odd")

exercise 19 = Write a Python program to count the number 4 in a given list

In [ ]:
a=(1 , 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6)
a.count(4)

exercise 20 = price of a house is 1M and if a good credit man comes and buys the home the downpayment is 10 percent and else it is 20 %

In [ ]:
a=input("If the person have good credits ? (y/n)")
e= 1000000/10
d=1000000/20
if a.upper()=="Y":
  print(f"The cash to be down payed is ${e} ")
else :
  print(f"the cash for down payment is ${d}")

exercise 21 = name length 
if name is 3 or less letter long then print(name must be atleast 3 character long)and is the name is 50 character long print(name shoulnt be long like that ) or else print good name

In [ ]:
a=input("Your name ? ")
if len(a) < 3:
  print("name must be have atleast 3 characte long")
elif len(a) >50:
  print("Name cant be maximum than 50 letter long ")
else:
  print("your name is beautiful")

exercise 22 - weight in kg or pound

In [ ]:
a=float(input("what is your weight ?"))
b=input("weight unit that is input (k/p)")
c=input(" need the out put in kg or pound , if kg (k) and is pound (p)")
d=a*2.20462
e=a*0.453592
if b.upper()=="K" and c.upper()=="P":
  print(f"you weight in pounds is {d}")
if b.upper()=="K" and c.upper()=="K":
  print(f"you weight in kilogram is {a}")
if b.upper()=="P" and c.upper()=="K":
  print(f"you weight in kilogram is {e}")
if b.upper()=="P" and c.upper()=="P":
  print(f"you weight in pounds is {a}")


exercise 23- car racing game ..

In [ ]:
started = False
a=input("> ")
while a!="QUIT":
  if a.upper()== "HELP":
    print("START = FOR STARTING THE GAME")
    print("STOP = FOR STOPPING THE GAME")
    print("QUIT = FOR ENDING THE GAME")
  elif a.upper()=="START":
     if started :
       print("The car is already started ")
     else:
        started=True
        print("starting the game")
  elif a.upper() =="STOP":
    if not started:
       print("car is already not started")
    else:
        started =False
        print("stopping the game")
  elif a.upper() =="QUIT":
      break
  else:
    print("I don't understand")

exercise 24 = Write a Python program to convert temperatures to and from celsius, fahrenheit.  === Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
Expected Output :
60°C is 140 in Fahrenheit
45°F is 7 in Celsius

In [ ]:
a=float(input("the temperature ? "))
b= input("which temp to which - (a) for celsius to fahrenheit, and (b) for fahrenheit to celsius")
temp_in_fahrenheit = (9*a +32*5)/5
temp_in_celsius=(5*(a-32))/9
if b.upper()=="A":
  print(f"the temp_in_fahrenheit is {temp_in_fahrenheit}")
if b.upper()=="B":
    print(f"temp_in_celsius is {temp_in_celsius}")

exercise 25 = Write a Python program to guess a number between 1 to 9. Go to the editor
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [ ]:
print("YOU HAVE 3 CHANCES TO FIND THE CORRECT SECRET NUMBER , BETWEEN 0-10 ( GOOD LUCK , FELLAS )")
secret_number = 7
guess_count= 0
guess_limit=3
while guess_count < guess_limit:
  guess=int(input("GUESS  >"))
  guess_count=guess_count+1
  if guess == secret_number:
    print("you won ")
    break

exercise 26 = Write a Python program to create the multiplication table (from 1 to 10) of a number. Go to the editor
Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60

In [ ]:
a=int(input("Give a number for multliply > "))
b=a*1
c=a*2
d=a*3
e=a*4
f=a*5
g=a*6
h=a*7
i=a*8
j=a*9
k=a*10
print(f"{a} x 1 = {b}")
print(f"{a} x 2 = {c}")
print(f"{a} x 3 = {d}")
print(f"{a} x 4 = {e}")
print(f"{a} x 5 = {f}")
print(f"{a} x 6 = {g}")
print(f"{a} x 7 = {h}")
print(f"{a} x 8 = {i}")
print(f"{a} x 9 = {j}")
print(f"{a} x 10 = {k}")

or

In [ ]:
n = int(input("Input a number: "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(n,'x',i,'=',n*i)

exercise 28= Write a Python program to get the Fibonacci series between 0 to 50. Go to the editor
Note : The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, ....
Every next number is found by adding up the two numbers before it.
Expected Output : 1 1 2 3 5 8 13 21 34

In [ ]:
c=int(input("to which extent you need the seris to continue "))
x,y=0,1
while y<c:
    print(y)
    x,y = y,x+y

exercise 29 = Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
Sample Output :
fizzbuzz
1
2
fizz
4
buzz

In [ ]:
b=int(input('the number till you wanted > '))
a=range(0,b)
for x in a :
  if x % 5== 0 and x % 3 == 0:
    print("FizzBuzz")
  elif x % 3 == 0 :
    print("Fizz")
  elif x % 5== 0:
    print("Buzz")
  else :
    print(x)

exercise 31= Write a Python program that accepts a string and calculate the number of digits and letters. Go to the editor
Sample Data : Python 3.2
Expected Output :
Letters 6
Digits 2 ( CODE COPIED )

In [ ]:
s = input("Input a string > ")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1 
    else:
        pass
print("Letters", l)
print("Digits", d)

exercise 32 = Write a Python program to check the validity of password input by users. Go to the editor
Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.

In [ ]:
import re
p=input("YOUR PASSWORD > ")
a=True
while a:
#length of password 

  if len(p)<6 or len(p)>12 :
    if len(p)<6 :
      print("The password length is less than 6 letters ")
      break
    elif len(p)>12:
      print("The password length is more than 12 letters ")
      break
    else:
      break
# small letter check 
    if not re.search("[a-z]",p):
      break
  
#upper letter check

  elif not re.search("[A-Z]",p):
      break

#number check 

  elif not re.search("[0-9]",p):
      break

#sigh check 

  elif not re.search("[!,@,#,$,%,&]",p):
      break

#space check 

  elif re.search("\s",p):
      break
  else:
    print("PASSWORD VALID")
    a=False
    break

if a:
  print("PASSWORD NOT VALID")

exercise 33 =  Write a Python program to calculate a dog's age in dog's years. Go to the editor
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.
Expected Output:

Input a dog's age in human years: 15                                    
The dog's age in dog's years is 73

In [ ]:
a=float(input("YOUR DOGS AGE IN HUMAN YEAR > "))
b=a-2
c=b*4+21
if a==1:
  print("YOUR DOGS AGE IS 10.5 DOGS YEAR ")
elif a==2:
  print("YOUR DOGS AGE IS 21 DOGS YEAR ")
else:
  print(f"YOUR DOGS AGE IN DOGS YEAR IS > {c}")

exercise 34 = Write a Python program to check whether an alphabet is a vowel or consonant. Go to the editor
Expected Output:

Input a letter of the alphabet: k                                       
k is a consonant.

In [ ]:
c=input("YOUR LETTER TO BE CHECKED > ") 
if c.lower()=="a":
  print(f"{c} is a vowel ")
elif c.lower()=="e":
  print(f"{c} is a vowel ")  
elif c.lower()=="i":
  print(f"{c} is a vowel ")
elif c.lower()=="o":
  print(f"{c} is a vowel ")
elif c.lower()=="u":
  print(f"{c} is a vowel ")
else:
  print(f"{c} is consonent ")

exercise 35 = Write a Python program to convert month name to a number of days. Go to the editor
Expected Output:

List of months: January, February, March, April, May, June, July, August
, September, October, November, December                                
Input the name of Month: February                                       
No. of days: 28/29 days

In [ ]:
a=input("NAME OF MONTH > ")
if a.lower()==("january"or "march"or "may" or "july" or "august" or "october" or "december"):
  print("you have 31 days in a month")
elif a.lower()==("april" or "june" or "september" or "november"):
  print("you have 30 days in a month")
else :
  b=int(input("THE YEAR > "))
  if b%4==0:
    print("you have 29 days in a month")
  else:
    print("you have 28 days in a month")

exercise 37 = Write a Python program that reads two integers representing a month and day and prints the season for that month and day. Go to the editor
Expected Output:

Input the month (e.g. January, February etc.): july                     
Input the day: 31                                                       
Season is autumn

In [ ]:
a=input("NAME OF MONTH > ")
if a.lower()==("january"or "december"or "february" ):
  print("you are in WINTER ")
elif a.lower()==("july" or "june" or "august"):
  print("you are in SUMMER")
elif a.lower()==("march" or "april" or "may"):
  print("you are in SPRING")
else:
  print("you are in AUTUMN")

exercise 38 =Write a Python program to display astrological sign for given date of birth. Go to the editor
Expected Output:

Input birthday: 15                                                      
Input month of birth (e.g. march, july etc): may                        
Your Astrological sign is : Taurus

In [ ]:
a=input("YOUR BIRTH MONTH > ").lower()
b=int(input("YOUR BIRTHDAY > "))
if a=="january":
  if b<19:
    print("Capricorn")
  else:
    print("Aquaricus")
elif a=="february":
  if b<18 :
    print("Aquaricus")
  else:
    print("Pisces")
elif a=="march":
  if b<20 :
    print("Pisces")
  else:
    print("Aries")
elif a=="april":
  if b<19:
    print("Aries")
  else:
    print("Taurus")
elif a=="may":
  if b<20:
    print("Taurus")
  else:
    print("Gemini")
elif a=="june":
  if b<21:
    print("Gemini")
  else:
    print("Cancer")
elif a=="july":
  if b<22:
    print("Cancer")
  else:
    print("Leo")
elif a=="august":
  if b<22:
    print("Leo")
  else:
    print("Virgo")
elif a=="september":
  if b<22:
    print("Virgo")
  else:
    print("Libra")
elif a=="october":
  if b<23:
    print("Libra")
  else:
    print("Scorpio")
elif a== "november":
  if b<22:
    print("Scorpio")
  else:
    print("Sagattirius")
else :
  if b<21:
    print("Sagattirius")
  else:
    print("Capricon")

exercise 39 =Write a Python program to display the sign of the Chinese Zodiac for given year in which you were born. Go to the editor
Expected Output:

Input your birth year: 1973                                             
Your Zodiac sign : Ox

In [ ]:
a= int(input("Input your birth year: "))
if (a - 2000) % 12 == 0:
    print("Your Zodiac sign :Dragon")
elif (a - 2000) % 12 == 1:
    print("Your Zodiac sign :Snake")
elif (a - 2000) % 12 == 2:
    print("Your Zodiac sign :Horse")
elif (a - 2000) % 12 == 3:
    print("Your Zodiac sign :Sheep")
elif (a - 2000) % 12 == 4:
    print("Your Zodiac sign :Monkey")
elif (a - 2000) % 12 == 5:
    print("Your Zodiac sign :Rooster")
elif (a - 2000) % 12 == 6:
    print("Your Zodiac sign :Dog")
elif (a - 2000) % 12 == 7:
    print("Your Zodiac sign :Pig")
elif (a - 2000) % 12 == 8:
    print("Your Zodiac sign :Rat")
elif (a - 2000) % 12 == 9:
    print("Your Zodiac sign :Ox")
elif (a - 2000) % 12 == 10:
    print("Your Zodiac sign :Tiger")
else:
    print("Your Zodiac sign :Hare")

Exercise 40 = Write a Python program to find the median of three values.

In [ ]:
a = float(input("Input first number: "))
b = float(input("Input second number: "))
c = float(input("Input third number: "))
if a > b:
    if a < c:
        median = a
    elif b > c:
        median = b
    else:
        median = c
else:
    if a > c:
        median = a
    elif b < c:
        median = b
    else:
        median = c

print("The median is", median)

exercise 41 - print alphabet. **F**

In [ ]:
a=[5,2,5,2,2,0]
for x in a :
    print(x * "x")

exercise 42 = find the largest number in a list

In [ ]:
a = [1,2,3,4,5,6,7,8,9,]  
b=a[0]
for x in a :
  if b > x :
    b=x 
print(x)

exercise 43 = to remove duplicate in a list

In [ ]:
numbers=[1,2,3,4,5,5,6,6,7,8,9,10]
uniques=[]
for number in numbers :
  if number not in uniques:
    uniques.append(number)
print(uniques)

exercise 44 = Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [ ]:
a=int(input("the number to be checked > "))
b=a/7
c=a/5
if b==0 and c==0 :
  print(f"the number {a} is divisible by 7 and is a multiple of 5 ")
elif b==0 and c!=0:
  print(f"the number {a} is divisible by 7 and is not a multiple of 5 ")
elif b!=0 and c==0 :
  print(f"the number {a} is not divisible by 7 and is a multiple of 5 ")
else :
  print(f"the number {a} is not divisible by 7 and is not a multiple of 5 ")

exercise 45 == Write a Python program to construct the following pattern, using a nested for loop.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [ ]:
a=[1,3,5,7,9,11,13,11,9,7,5,3,1]
for x in a :
    print(x * "x")

exercise 46 = Write a Python program which accepts a sequence of comma separated 4 digit binary numbers as its input and print the numbers that are divisible by 5 in a comma separated sequence. Go to the editor
Sample Data : 0100,0011,1010,1001,1100,1001
Expected Output : 1010

In [ ]:
a=int(input("your 4 digit number composed of only 1 and 0 > "))

exercise 47 = Write a Python program to print alphabet pattern 'A'. Go to the editor
Expected Output:

exercise 48 = Write a Python program to check a triangle is equilateral, isosceles or scalene. Go to the editor
Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.
Expected Output:

Input lengths of the triangle sides:                                    
x: 6                                                                    
y: 8                                                                    
z: 12                                                                   
Scalene triangle

exercise 49 = Write a Python program to construct the following pattern, using a nested loop number. Go to the editor
Expected Output:

1
22
333
4444
55555
666666
7777777
88888888
999999999

exercise 50 =Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

exercise 51 = Write a Python program to create all possible strings by using 'a', 'e', 'i', 'o', 'u'. Use the characters exactly once

exercise 52 = Write a Python program to remove and print every third number from a list of numbers until the list becomes empty.

https://www.w3resource.com/python-exercises/basic/

# **palindromic sequence ...**

In [ ]:
a=input("an array > ")
b=a[:: -1]
if a==b :
  print(" It is a palindrome")
else :
  print("It is not an palindrome ")

In [ ]:
a=int(input("the extent you needed to go > "))
x,y=0,1
while y<=a :
  print(y)
  x,y=y,x+y